*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
}
nav{
    display:flex;
    justify-content: space-between;
    color: white;
    background-color:#0089B7;
     
    font-size: 1.5rem;
    align-items: center;
   
}
.left{
    margin: 30px;
}
.right ul a {
text-decoration: none;
color: white;
}
.right ul li {
    display: inline;
 padding: 10px;
 margin: 10px;
}
.profile{
    background-color: #003D62;
    display: flex;
     justify-content: center;
    align-items: center;
    height: 100vh;
}
.image{
    height: 100%;
    width: 50%;
   
}
.image img{
    height: 500px;
    width: 300px;
    margin: 100px 200px;
    border-radius: 200px;
}
.text{
    width: 50%;
   color: white;
   font-size: 2.5rem;
}
.text h1 span{
    font-size: 2rem;
}
.project{
    min-height: 100vh;
    text-align: center;
    background-color:#003251;
    color: #fff;
    font-size: 1.5rem;
}
.project h1{

    padding: 30px;
color: #fff;
text-decoration: none;
    
}
.pimages {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* padding: 20px; */
}
.pimages a{
    width: 30%;
}
.pimages  a  img{
height: 100%;
    width: 100%;
    
}
footer{
    height: 50vh;
}
.upper{
    background-color: #003D62;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    padding: 5rem;
}
.one,.two{
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.lower{
    background-color: #012941;
    color: white;
    padding: 30px;
    text-align: center
}